body, h1, h2, h3, span, a {
    font-family: 'Caveat', cursive !important;
}
p {
  font-family: 'Source Serif Pro', serif;
}
.eventPhotos {
    font-family: 'Source Serif Pro', serif; /* Set font */
    background-color: #9fbbf8; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding to make the button bigger */
    border: 2px solid #9fbbf8; /* Border color */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Change cursor on hover */
    text-align: center; /* Center align text */
    font-size: 16px; /* Font size */
    display: inline-block; /* Make it behave like a block element */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
  }
  
  .eventPhotos:hover {
    background-color: white; /* Hover background color */
    color: #9fbbf8; /* Text color on hover */
  }
  